# Server
PORT=8080

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=emoney

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=

# Firebase
FIREBASE_CREDENTIALS_PATH=firebase_service_account.json
FIREBASE_API_KEY=

# SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME=E-Money App

# OTP
OTP_EXPIRY_MINUTES=5